/* Styles for laptops mini*/
@media only screen and (min-width: 993px)  and (max-width: 1600px) {
    .get-gifts img,
    .chart-to-get img {
        width: 80%;
    }
    .get-gifts {
        margin: 0 7vw;
    }
    a.get-gifts__item,
    a.chart-to-get__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .chart-to-get {
        margin: 0 10vw;
    }
    .progress-gifts img {
        width: 7%;
    }
}

/* Styles for mobile & tablet devices */
@media only screen and (max-width: 992px) {
    .hide-on-mob-tablet {
        display: none;
    }

    #wrapper {
        min-height: 407vw;
        background: url(/assets/img/mob/bg.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .menu {
        display: flex;
        margin: 0 14vw;
        padding: 72vw 0 0;
    }
    .menu__item img {
        width: 94%;
    }
    .choose-character {
        margin: 2vw 20vw 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vw;
        color: #fff;
        background: url(/assets/img/mob/choose-char-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .get-gifts {
        height: 31vw;
    }
    .get-gifts__item {
        display: flex;
        justify-content: center;
    }
    .get-gifts__item img {
        width: 50%;
    }
    .get-gifts__item:nth-child(1), .get-gifts__item:nth-child(5) {
        margin-bottom: 4vw;
    }
    .chart-to-get {
        z-index: 1;
        display: grid;
        justify-content: end;
        margin: 67vw 19vw 0 0;
    }
    .chart-to-get__item {
        margin-bottom: 20.5vw;
    }
    .chart-to-get__item img {
        width: 62%;
    }

    .progress-bar {
        height: 3vw;
        width: 100vw;
        margin: -10vw 20vw;
        transform: rotate(90deg);
        transform-origin: left bottom;
    }

    .progress-gifts {
        margin: 0 14vw 0;
        display: grid;
        justify-content: flex-start;
    }
    .progress-gifts img {
        width: 50%;
        margin: 5vw 0;
    }

    .hide-on-mob-tablet {
        display: none;
    }
}

