/* Styles for laptops mini*/
@media only screen and (min-width: 993px)  and (max-width: 1600px) {
    .get-gifts img,
    .chart-to-get img {
        width: 80%;
    }
    .get-gifts {
        margin: 0 7vw;
    }
    a.get-gifts__item,
    a.chart-to-get__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .char